!!! 5
%html

  %head
    %meta{:charset => 'utf-8'}
    %title= "Ambilight-Table"
    %link{:href => "example.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "../lib/css/ambilight-table.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "../lib/js/ambilight-table.js", :type => "text/javascript"}

  %body

    .ambilight-container
      %img.ambilight-image{:src => "images/1.jpg"}